body {
    margin: 0;
    padding: 0;
}

.divBolinha {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bolinhas {
    position: relative;
    display: flex;
}

.bolinhas span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
        0 0 50px #4fc3dc,
        0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bolinhas span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
        0 0 50px #ff2d75,
        0 0 100px #ff2d75;
}

@keyframes animate {
    100% {
        transform: translateY(110vh) scale(1);
    }

    0% {
        transform: translateY(-10vh) scale(0);
    }
}

.fonte01 {
    font-family: 'Concert One', cursive;
}

.fonte02 {
    font-family: 'Roboto Mono', monospace;
}

#detalamento{
    min-height: 3em;
}